################################################################################
# Parameters
################################################################################

# Source path
SRC_PATH = "<...>"
# Directory separator
PATH_DS = "/"

# URL prefix
URL_PREFIX = ""

# Debug mode?
DEBUG = True
# Weather to enable or disable the cloud
ENABLE_CLOUD = False
# Enable marketplace
ENABLE_MARKET = False
# Whether to enable or disable the CSC UI
ENABLE_CSC = False
# Enable the WebAPI beta feature
ENABLE_WEBAPI = True

# Local time zone for this installation. Choices can be found here:
# http://en.wikipedia.org/wiki/List_of_tz_zones_by_name
# although not all choices may be available on all operating systems.
# On Unix systems, a value of None will cause Django to use the same
# timezone as the operating system.
# If running in a Windows environment this must be set to the same as your
# system time zone.
TIME_ZONE = "Europe/Paris"

# Recaptcha information for the user registration
GOOGLE_RECAPTCHA = {
    # Get from https://www.google.com/recaptcha/admin/create
    "public_key": "<...>",
    "private_key": "<...>"
}

# Make this unique, and don't share it with anybody.
SECRET_KEY = '^p+u-t6^*gtqmj85l$prq(q33#7i+(#$5o0*t0pvm4@1-t_a^w'

ADMINS = (('CernVM', 'cernvm.administrator@cern.ch'))

# WebAPI Configurations
WEBAPI_CONFIGURATIONS = [
    {
        "cpus": 1, "memory": 1024, "disk_size": 10000,
        "label": "1 CPU / 1 GB RAM / 10 GB disk"
    },
    {
        "cpus": 1, "memory": 2048, "disk_size": 10000,
        "label": "1 CPU / 2 GB RAM / 10 GB disk"
    },
    {
        "cpus": 2, "memory": 2048, "disk_size": 20000,
        "label": "2 CPU / 2 GB RAM / 20 GB disk"
    }
]

################################################################################
# Advanced parameters
################################################################################

TEMPLATE_DEBUG = DEBUG

MANAGERS = ADMINS

DATABASES = {
    'default': {
        'ENGINE': 'django.db.backends.sqlite3',         # Add 'postgresql_psycopg2', 'mysql', 'sqlite3' or 'oracle'.
        'NAME': SRC_PATH + PATH_DS + "db.sqlite3",      # Or path to database file if using sqlite3.
        'USER': '',                                     # Not used with sqlite3.
        'PASSWORD': '',                                 # Not used with sqlite3.
        'HOST': '',                                     # Set to empty string for localhost. Not used with sqlite3.
        'PORT': '',                                     # Set to empty string for default. Not used with sqlite3.
    }
}

# Language code for this installation. All choices can be found here:
# http://www.i18nguy.com/unicode/language-identifiers.html
LANGUAGE_CODE = 'en-us'

SITE_ID = 1

# If you set this to False, Django will make some optimizations so as not
# to load the internationalization machinery.
USE_I18N = True

# If you set this to False, Django will not format dates, numbers and
# calendars according to the current locale.
USE_L10N = True

# If you set this to False, Django will not use timezone-aware datetimes.
USE_TZ = True

# Absolute filesystem path to the directory that will hold user-uploaded files.
# Example: "/home/media/media.lawrence.com/media/"
MEDIA_ROOT = SRC_PATH + PATH_DS + "media" + PATH_DS

# URL that handles the media served from MEDIA_ROOT. Make sure to use a
# trailing slash.
# Examples: "http://media.lawrence.com/media/", "http://example.com/media/"
MEDIA_URL = '/' + URL_PREFIX + 'media/'

# Absolute path to the directory static files should be collected to.
# Don't put anything in this directory yourself; store your static files
# in apps' "static/" subdirectories and in STATICFILES_DIRS.
# Example: "/home/media/media.lawrence.com/static/"
STATIC_ROOT = ''

# URL prefix for static files.
# Example: "http://media.lawrence.com/static/"
STATIC_URL = '/' + URL_PREFIX + 'static/'

# Additional locations of static files
STATICFILES_DIRS = (
    # Put strings here, like "/home/html/static" or "C:/www/django/static".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths.
    ( 'static', SRC_PATH + PATH_DS + "static" + PATH_DS )
)

# List of finder classes that know how to find static files in
# various locations.
STATICFILES_FINDERS = (
    'django.contrib.staticfiles.finders.FileSystemFinder',
    'django.contrib.staticfiles.finders.AppDirectoriesFinder'
)

# List of callables that know how to import templates from various sources.
TEMPLATE_LOADERS = (
    'django.template.loaders.filesystem.Loader',
    'django.template.loaders.app_directories.Loader'
)

MIDDLEWARE_CLASSES = (
    'django.middleware.common.CommonMiddleware',
    'django.contrib.sessions.middleware.SessionMiddleware',
    'django.middleware.csrf.CsrfViewMiddleware',
    'django.contrib.auth.middleware.AuthenticationMiddleware',
    'django.contrib.messages.middleware.MessageMiddleware',
    'cvmo.context.middleware.shibsync.ShibbolethUserSync',
    # Uncomment the next line for simple clickjacking protection:
    # 'django.middleware.clickjacking.XFrameOptionsMiddleware'
)

ROOT_URLCONF = 'cvmo.urls'

# Python dotted path to the WSGI application used by Django's runserver.
WSGI_APPLICATION = 'cvmo.wsgi.application'

TEMPLATE_DIRS = (
    # Put strings here, like "/home/html/django_templates" or "C:/www/django/templates".
    # Always use forward slashes, even on Windows.
    # Don't forget to use absolute paths, not relative paths.
    SRC_PATH + PATH_DS + "templates" + PATH_DS
)

INSTALLED_APPS = (
    'django.contrib.auth',
    'django.contrib.contenttypes',
    'django.contrib.sessions',
    'django.contrib.sites',
    'django.contrib.messages',
    'django.contrib.staticfiles',
    'django.contrib.admin',
    'django.contrib.admindocs',
    # CernVM Contextualization
    'cvmo.context',
)

# A sample logging configuration. The only tangible logging
# performed by this configuration is to send an email to
# the site admins on every HTTP 500 error when DEBUG=False.
# See http://docs.djangoproject.com/en/dev/topics/logging for
# more details on how to customize your logging configuration.
LOGGING = {
    'version': 1,
    'disable_existing_loggers': False,
    'filters': {
        'require_debug_false': {
            '()': 'django.utils.log.RequireDebugFalse'
        }
    },
    'handlers': {
        'mail_admins': {
            'level': 'ERROR',
            'filters': ['require_debug_false'],
            'class': 'django.utils.log.AdminEmailHandler'
        }
    },
    'loggers': {
        'django.request': {
            'handlers': ['mail_admins'],
            'level': 'ERROR',
            'propagate': True,
        },
    }
}

TEMPLATE_CONTEXT_PROCESSORS = (
    "django.contrib.auth.context_processors.auth",
    "django.core.context_processors.debug",
    "django.core.context_processors.i18n",
    "django.core.context_processors.media",
    "django.core.context_processors.static",
    "django.contrib.messages.context_processors.messages",
    "cvmo.context.utils.views.global_context"
)

CONTEXT_PLUGINS = (
    'cvmo.context.plugin.condor.Condor',
    'cvmo.context.plugin.hostname.Hostname',
    'cvmo.context.plugin.noip.NoIP',
    'cvmo.context.plugin.storage.Storage',
    'cvmo.context.plugin.openvpn.OpenVPN',
    'cvmo.context.plugin.ganglia.Ganglia',
    'cvmo.context.plugin.puppet.Puppet',
)

SHIBBOLETH_SSO = {

    # Header bindings
    'login_header': 'HTTP_ADFS_LOGIN',
    'groups_header': 'HTTP_ADFS_GROUP',
    'fullname_header': 'HTTP_ADFS_FULLNAME',
    'email_header': 'HTTP_ADFS_EMAIL',

    # Groups to add to the user, depending on groups_header
    'map_groups': {
        'admin': r'(;|^)cernvm-infrastructure(;|$)'
    },

    # Which regex on groups_header should mark the user as staff
    'staff_groups': [
        r'(;|^)cernvm-infrastructure(;|$)'
    ],

    # Where to redirect if the user is not authenticated
    'redirect_login': '/' + URL_PREFIX + 'login',

    # Which website paths are publicly accessible
    'public_path': [
        # Login
        r'/' + URL_PREFIX + 'login$',
        r'/' + URL_PREFIX + 'login_action$',
        # Registration
        r'/' + URL_PREFIX + 'register$',
        r'/' + URL_PREFIX + 'register_action$',
        r'/' + URL_PREFIX + 'account_activation$',
        # API - context
        r'/' + URL_PREFIX + 'api/context/?$',
        r'/' + URL_PREFIX + 'api/context/[0-9a-f]+/?$',
        r'/' + URL_PREFIX + 'api/context/[0-9a-f]+/plain/?$',
        r'/' + URL_PREFIX + 'api/fetch/?$',
        # API - cluster
        r'/' + URL_PREFIX + 'api/cluster/.*$',
        # API - marketplace
        r'/' + URL_PREFIX + 'api/market/search.clusters/?$',
        r'/' + URL_PREFIX + 'api/market/groups/?$'
    ]
}

# Cookies
SESSION_EXPIRE_AT_BROWSER_CLOSE = True
SESSION_COOKIE_AGE = 3600
SESSION_COOKIE_PATH = "/" + URL_PREFIX
CSRF_COOKIE_PATH = "/" + URL_PREFIX

# CSC list of students
CSC_USER_CONFIG_FILE= SRC_PATH + PATH_DS + "students.conf"

# Where to send activation mail
ACTIVATION_EMAIL = {
    "sender": "CernVM Online",
    "sender_email": "cernvm.administrator@cern.ch",
    "subject": "Account activation"
}
