@CHARSET "UTF-8";

/***** General styles *****/

/* Breadcrumb Path */
ul.breadcrumb-path { 
	display: block; 
	height: 18px;
}
ul.breadcrumb-path li {  
	float: left;
	display: inline-block;
	height: 16px;
	line-height: 16px;
	padding: 2px;
	padding-right: 5px; 
	margin: 0px;
}
ul.breadcrumb-path li span.separator {
	margin-right: 5px;
}
ul.breadcrumb-path li a,
ul.breadcrumb-path li a:link,
ul.breadcrumb-path li a:visited {
	color: #666;
	font-size: 12px;
	text-decoration: none;
}
ul.breadcrumb-path li a:hover {
	color: #333;
	cursor: pointer;
}
ul.breadcrumb-path li a:active {
	color: #333;
}

/***** Category page styles *****/

/* Pages list */
div#wiki_category_container div.pages-container {
	margin-top: 10px;	
}
div#wiki_category_container div.pages-container div.page {
	padding: 5px;
	margin-bottom: 5px;
	border: 1px solid #ccc;
}
div#wiki_category_container div.pages-container div.page:nth-child(odd) {	
}
div#wiki_category_container div.pages-container div.page:nth-child(even) {
	background-color: #eee;
}
div#wiki_category_container div.pages-container h3.page-title {
	margin: 0px;
	margin-bottom: 3px;
	font-size: 14px;
}
div#wiki_category_container div.pages-container p.page-description {
	margin: 0px;
	margin-left: 10px;	
}

/***** Page view styles *****/

/** 
 * div#wiki_page_container selector 
 * removed to remove margin from ul li of breadcrumb 
 */
ul li {
	margin-left: 25px;
}

div#wiki_page_container img.image {
	float: left;
	padding: 5px;
	/* border: 1px solid #ccc; */
	width: 200px;
	margin: 5px;
	margin-left: 0px;	
}
div#wiki_page_container img.image.full-width {
	float: none;
	display: block;
	margin: 0px auto;
	width: 600px;
}
