{% extends "base/class_context.html" %}
{% load formutils %}
{% load static %}
{% load url from future %}

{% block title %}Create Cluster{% endblock %}
{% block head %}
	<script type="text/javascript" src="{% static "base/js/cvmocluster.js" %}"></script>
	<script type="text/javascript">
		var Templates = {};
		{% for row in templates %}
			Templates["{{ row.uid }}"] = "{{ row.name }}";
		{% endfor %}
		var DefaultTemplate = "{{ default_template }}";
		var ServiceOfferings = {};
		{% for row in service_offerings %}
			ServiceOfferings["{{ row.uid }}"] = "{{ row.name }}";
		{% endfor %}
		var DefaultServiceOffering = "{{ default_service_offering }}";
		var DiskOfferings = {};
		{% for row in disk_offerings %}
			DiskOfferings["{{ row.uid }}"] = "{{ row.name }}";
		{% endfor %}
		var DefaultDiskOffering = "";
		var NetworkOfferings = {};
		{% for row in network_offerings %}
			NetworkOfferings["{{ row.uid }}"] = "{{ row.name }}";
		{% endfor %}
		var DefaultNetworkOffering = "";
		var DeleteImgPath = "{% static "base/img/delete.png" %}";
	</script>
{% endblock %}

{% block body %}
	<h1>Create Cluster</h1>
	<form action="{% url "cluster_save" %}" id="cluster_create_form" method="post">
		{% csrf_token %}

		<div id="content-accordion">
			<div class="accordion-header separator"><h2>General</h2></div>
			<div class="accordion-content container">
				<table class="plain long-text">
					<tr>
						<th width="150"><label for="name">Cluster name:</label></th>
						<td>
							<input type="text" id="name" class="cvmo-validate" maxlength="100" name="values[name]" value="{{ values.name }}" />
						</td>
					</tr>
					<tr>
						<th width="150"><label for="description">Description:</label></th>
						<td>
							<textarea name="values[description]" id="description">{{ values.description }}</textarea>
						</td>
					</tr>
					<tr>
						<th>Secret key:</th>
						<td>
							<input type="text" maxlength="100" class="cvmo-disabling-protect" name="values[secret]" value="{{ values.secret }}" />
						</td>
					</tr>
					<tr>
						<th>&nbsp</th>
						<td>
							<input type="checkbox" class="cvmo-disabling" name="values[protect]" value="1" id="protect" {{ values.protect|chk }} />
							<label for="protect"> Protect this cluster with a secret key</label>
						</td>
					</tr>
				</table>
			</div>

			<div class="accordion-header separator"><h2>Services</h2></div>
			<div class="accordion-content container" id="services_container">

				<img src="{% static "base/img/up-arrow.png" %}" class="arrow up" />
				<img src="{% static "base/img/down-arrow.png" %}" class="arrow down" />
				<table id="services" class="pad-5">
					<thead>
						<tr>
							<th>Key</th>
							<th>Template</th>
							<th>Context</th>
							<th>Operations</th>
						</tr>
					</thead>
					<tbody>
						{% for row in values.services %}
							<tr class="base-row">
								<td>{{ row.uid }}</td>
								<td>{{ row.template.name }}</td>
								<td>{{ row.context.name }}</td>
								<td class="operations">
									<a href="#" class="softbutton remove-row">
										<img border="0" src="{% static "base/img/delete.png" %}" align="absmiddle" />
										 Remove Service
									</a>
								</td>
							</tr>
							<tr class="details-row">
								<td colspan="4">
									<ul class="offerings">
										<li><strong>Service offering:</strong> {{ row.service_offering.name }}</li>
										{% if row.disk_offering != None %}
											<li><strong>Disk offering:</strong> {{ row.disk_offering.name }}</li>
										{% endif %}
										{% if row.network_offering != None %}
											<li><strong>Network offering:</strong> {{ row.network_offering.name }}</li>
										{% endif %}
									</ul>

									<input type="hidden" name="values[services][uid]" value="{{ row.uid }}" />";
									<input type="hidden" name="values[services][context_uid]" value="{{ row.context_uid }}" />";
									<input type="hidden" name="values[services][context_key]" value="{{ row.context_key }}" />";
									<input type="hidden" name="values[services][template_uid]" value="{{ row.template_uid }}" />";
									<input type="hidden" name="values[services][service_offering_uid]" value="{{ row.service_offering_uid }}" />";
									<input type="hidden" name="values[services][network_offering_uid]" value="{{ row.network_offering_uid }}" />";
									<input type="hidden" name="values[services][disk_offering_uid]" value="{{ row.disk_offering_uid }}" />";
								</td>
							</tr>
						{% endfor %}
					</tbody>
					<tfoot>
						<tr>
							<td colspan="4"><em>No services...</em></td>
					</tfoot>
				</table>

				<h3 class="add-service-header">Add Service</h3>
				<div class="add-service-container">
					<table class="plain long-text add-service">
						<tr>
							<th width="150"><label for="ns_uid">Service key:</label></th>
							<td>
								<input type="text" id="ns_uid" maxlength="16" name="ns_uid" />
							</td>
						</tr>
						<tr>
							<th width="150"><label for="ns_context_name">Context:</label></th>
							<td>
								<input type="text" id="ns_context_name" name="ns_context_name" />
								<input type="hidden" id="ns_context_uid" name="ns_context_uid" />
								<input type="hidden" id="ns_context_has_key" name="ns_context_has_key" value="0" />
							</td>
						</tr>
						<tr id="ns_context_key_container">
							<th width="150"><label for="ns_context_key">Context key:</label></th>
							<td>
								<input type="password" id="ns_context_key" name="ns_context_key" />
							</td>
						</tr>
						<tr>
							<th width="150"><label for="ns_template_uid">Template:</label></th>
							<td>
								<select name="ns_template_uid" id="ns_template_uid">
									{% for row in templates %}
										<option value="{{ row.uid }}">{{ row.name }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<th width="150"><label for="ns_service_offering_uid">Service offering:</label></th>
							<td>
								<select name="ns_service_offering_uid" id="ns_service_offering_uid">
									{% for row in service_offerings %}
										<option value="{{ row.uid }}">{{ row.name }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<th width="150"><label for="ns_disk_offering_uid">Disk offering:</label></th>
							<td>
								<select name="ns_disk_offering_uid" id="ns_disk_offering_uid">
									<option value="">None</option>
									{% for row in disk_offerings %}
										<option value="{{ row.uid }}">{{ row.name }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr>
							<th width="150"><label for="ns_network_offering_uid">Network offering:</label></th>
							<td>
								<select name="ns_network_offering_uid" id="ns_network_offering_uid">
									<option value="">None</option>
									{% for row in network_offerings %}
										<option value="{{ row.uid }}">{{ row.name }}</option>
									{% endfor %}
								</select>
							</td>
						</tr>
						<tr class="buttons-container">
							<td colspan="2" align="right">
								<a href="#" class="softbutton add-row">
									<img border="0" src="{% static "base/img/add.png" %}" align="absmiddle" />
									 Add Service
								</a>
							</td>
						</tr>
					</table>
				</div>
			</div>
		</div>

		<div class="buttons-container">
			<input type="submit" value="Create cluster" />
		</div>
	</form>
{% endblock %}
