{% load static %}
{% load url from future %}
<!DOCTYPE html>
<html lang="en">
	<head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>CernVM WebAPI Password Prompt | CernVM Online</title>

        <!-- Bootstrap -->
        <link rel="shortcut icon" href="{% static "base/img/sky_favicon_4.ico" %}" type="image/x-icon">
        <link type="text/css" rel="stylesheet" media="all" href="{% static "base/css/libs/bootstrap-3.1.1.min.css" %}">
        <link type="text/css" rel="stylesheet" media="all" href="{% static "base/css/libs/bootstrap-theme-3.1.1.min.css" %}">

		<!-- Javascript Libraries -->
        <script type="text/javascript" src="{% static "base/js/libs/jquery-1.11.0.min.js" %}"></script>
        <script type="text/javascript" src="{% static "base/js/libs/bootstrap-3.1.1.min.js" %}"></script>

		<!-- WebAPI Theme -->
        <link type="text/css" rel="stylesheet" media="all" href="{% static "webapi/css/webapi.css" %}">

	</head>
	<body>

        <div id="webapi-frame" class="color-password">

            <div class="header" id="lbl-header">Context Encrypted</div>

            <form method="post" action="">
                <div class="password">
                  <div class="row">
                    <div class="col-xs-6 col-xs-offset-3">
                        <table class="table">
                          <tbody>
                            <tr>
                              <td colspan="2">Enter your password to decrypt the context data:
                              </td>
                            </tr>
                            <tr>
                            <th>Password:</th>
                            <td>
                              <input type="password" name="password" class="form-control">
                            </td>
                              
                          </tr>
                            <tr>
                              <td colspan="2" class="text-center"><button type="submit" class="btn btn-default">Launch</button></td>
                            </tr>
                         </tbody>
                        </table>
                        
                        {% if error %}
                        <br />
                        <div class="alert alert-danger" role="alert">
                          <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                          <span class="sr-only">Error:</span>
                          {{ error }}
                        </div>
                        {% endif %}

                    </div>
                  </div>
                </div>
                {% csrf_token %}
            </form>

            <div class="footer">
                <div class="progress-container">
                    <div class="progress-bar" id="p-bar"></div>
                </div>
                <div class="footer-label" id="lbl-status">Decrypting context</div>
            </div>

        </div>

	</body>
</html>