{% extends "core/class_context.html" %}
{% block title %}Dashboard{% endblock %}

{% block head %}
	{% if enable_webapi %}
		<script type="text/javascript"
			src="http://cernvm.cern.ch/releases/webapi/js/cvmwebapi-latest.js">
		</script>
		<script type="text/javascript">
			jQuery(
				function()
				{
					jQuery("a.webapi-deploy-handle").click(
						function(e)
						{
							e.preventDefault();
							/* Parse the request */
							var request = {
								"contextId": jQuery(this).data("context-id"),
								"name": jQuery(this).data("name"),
								"memory": jQuery(this).data("memory"),
								"CPUs": jQuery(this).data("cpus"),
								"diskSize": jQuery(this).data("disk-size")
							};
							console.log(request);

							/* Validate the request */
							// TODO

							/* Start the VM with the CernVM Web API */
							CVM.startCVMWebAPI(
								function(plugin)
								{
									console.log(plugin);
									plugin.requestSession(
										"https://cernvm-online.cern.ch/vmcp/sign.php?contextualization_key="
											+ request["contextId"]
											+ "&name=" + request["name"],
											+ "&cpus=" + request["CPUs"],
											+ "&ram=" + request["memory"],
											+ "&disk=" + request["diskSize"],
										function(session) { session.start(); }
									);
								},
								true // Let the plugin initialize the environment
							);

						}
					);
				}
			);
		</script>
	{% endif %}
{% endblock %}

{% block body %}
{% load static %}{% load url from future %}
<h1>Dashboard</h1>

<h2>Your context definitions</h2>
<table class="pad-5">
	<tr>
		<th width="20">&nbsp;</th>
		<th>Name</th>
		<th width="240">ID</th>
		{% if enable_market %}
		<th width="210">Operations</th>
		{% else %}
		<th width="135">Operations</th>
		{% endif %}
		{% if enable_webapi %}
			<th width="100">Deployment</th>
		{% endif %}
	</tr>
	{% for item in context_list %}
		<tr>
			<td>{% if item.public %}
				<img alt="Public" title="Definition visible in market listings" src="{% if item.key %}{% static "images/cart_key.png" %}{% else %}{% static "images/cart.png" %}{% endif %}" />
				{% else %}
				<img alt="Private" title="Private definition" src="{% if item.key %}{% static "images/user_key.png" %}{% else %}{% static "images/user.png" %}{% endif %}" />
				{% endif %}
			</td>
			<td>{{ item.name }}{% if item.from_abstract %} <img alt="Simple" title="Simple definition" src="{% static "images/thumb_up.png" %}"/>{% endif %}</td>
			<td>
				{{ item.id }}
			</td>
			<td class="buttons-container">
				<!-- Clone. Default action: full clone for normal contexts, simple clone for simple contexts -->
				<div class="btn"><a href="{% if item.from_abstract %}{% url "context_clone_simple" context_id=item.id %}{% else %}{% url "context_clone" context_id=item.id %}{% endif %}" class="softbutton" title="Use this context as template"><img border="0" align="absmiddle" src="{% static "images/brick_add.png" %}"/> Clone</a></div>
				{% if item.public %}

					{% if enable_market %}
					<!-- Unpublish button -->
					<div class="btn"><a href="{% url "market_revoke" context_id=item.id %}" class="softbutton" title="Remove this context definition from the marketpace"><img border="0" align="absmiddle" src="{% static "images/cart_delete.png" %}" /> Withdraw</a></div>
					{% endif %}

				{% else %}

					{% if enable_market %}
					<!-- Publish button -->
					<div class="btn"><a href="{% url "market_publish" context_id=item.id %}" class="softbutton" title="Publish this context to marketplace"><img border="0" align="absmiddle" src="{% static "images/cart_add.png" %}" /> Publish</a></div>
					{% endif %}

					<!-- Delete button -->
					<div class="btn"><a href="{% url "context_delete" context_id=item.id %}" class="softbutton" title="Delete this context definition"><img border="0" align="absmiddle" src="{% static "images/brick_delete.png" %}" /></a></div>

				{% endif %}
				<!-- Extra options -->
				<div class="dropdownbutton btn">
					<span><img border="0" align="absmiddle" src="{% static "images/brick_go.png" %}" width="16" height="16"/></span>
					<ul>
						{% if item.from_abstract %}
						<li><a href="{% url "context_clone" context_id=item.id %}">Clone with full options</a></li>
						{% endif %}
						<li><a href="{% url "context_view_plain" context_id=item.id %}">Get rendered context</b></a></li>
						<li><a href="{% url "context_view_raw" context_id=item.id %}">Get raw user data</b></a></li>
					</ul>
				</div>
				<!-- End of buttons -->
			</td>
			{% if enable_webapi %}
				<td class="buttons-container">
					<div class="dropdownbutton btn">
						<span>
							<img border="0" align="absmiddle"
								src="{% static "images/vm_add.png" %}"
								width="16" height="16"
								title="Create a VM using CernVM WebAPI plugin"/>
							WebAPI
						</span>
						<ul>
							{% for conf in webapi_configurations %}
								<li>
									<a class="webapi-deploy-handle"
										data-context-id="{{ item.id }}"
										data-name="{{ item.name }} VM"
										data-cpus="{{ conf.cpus }}"
										data-memory="{{ conf.memory }}"
										data-disk-size="{{ conf.disk_size }}" href="#">
										{{ conf.label }}
									</a>
								</li>
							{% endfor %}
						</ul>
					</div>
				</td>
			{% endif %}
		</tr>
	{% empty %}
		<tr>
			<td colspan="4" align="center">No context defined yet</tr>
		</tr>
	{% endfor %}
</table>
<br />

<!-- Button to create a new context -->
{% if full_abstract_list|length > 0 %}
{# Display dropdown only if we have at least one abstract context definition #}
<div class="dropdownbutton" style="float:left;margin:5px 5px 15px;">
  <span><img border="0" align="absmiddle" src="{% static "images/brick_add.png" %}" /> Create new context...</span>
  <ul>
	<li><a href="{% url "context_new" %}"><b>New context</b></a></li>
	{% for item in full_abstract_list %}
	<li><a href="{% url "abstract_contextualize" context_id=item.id %}">{{ item.name }}</a></li>
	{% endfor %}
  </ul>
</div><p style="float:left">&nbsp;</p>
{% else %}
{# No dropdown: we don't have any abstract context definitions #}
<p><a href="{% url "context_new" %}" class="softbutton"><img border="0" align="absmiddle" src="{% static "images/brick_add.png" %}" /> Create new context</a></p>
{% endif %}

{% if enable_abstract_creation %}
<h2>Your abstract context definitions</h2>
<script language="JavaScript">

// function type(obj){
//     return Object.prototype.toString.call(obj).match(/^\[object (.*)\]$/)[1]
// }

// Event handler for each single checkbox
absCheckboxCallback = function(e, id) {
	jQuery(this).attr('disabled', true);  // disable to avoid bombing
	chk = jQuery(this).attr('checked') ? true : false;
	jQuery(this).attr('checked', !chk);  // reverse checking: restore when OK
	id = jQuery(this).data('absctx_id');
	obj = this;
	jQuery.ajax({
		type: 'GET',
		url: '{% url "ajax_publish_context" %}?' +
			'id=' + id + '&do=' + (chk ? 'publish' : 'unpublish')
	}).done(function(resp) {
		if (parseInt(resp) == 1) {
			jQuery(obj)
				.attr('checked', chk)
				.removeAttr('disabled');
		}
	});
}

// When document is loaded, load checkbox statuses as well
jQuery(document).ready(function() {
	jQuery.ajax({
		type: 'GET',
		url: '{% url "ajax_abstract_list" %}'
	}).always(function() {
		jQuery(':checkbox[name^="absctx"]').attr('disabled', true);
	}).done(function(resp) {
		for (i=0; i<resp.length; i++) {
			jQuery(':checkbox[name="absctx[' + resp[i].id + '][public]"]')
				.attr('disabled', false)
				.attr('checked', resp[i].public)
				.data('absctx_id', resp[i].id)
				.change(absCheckboxCallback);
		}
	});
});


</script>
<table class="pad-5">
	<tr>
		<th>Name</th>
		<th width="240">ID</th>
		<th width="40">Public</th>
		<th width="100">Operations</th>
	</tr>
	{% for item in my_abstract_list %}
	<tr>

		<!-- Name column -->
		<td>{{ item.name }}</td>

		<!-- ID column -->
		<td>{{ item.id }}</td>

		<!-- Public column (checkbox) -->
		<td align="center"><input type="checkbox" disabled name="absctx[{{ item.id }}][public]"/></td>

		<!-- Operations column -->
		<td>

			<!-- Clone -->
			<a href="{% url "abstract_clone" context_id=item.id %}" class="softbutton" title="Use this context as template"><img border="0" align="absmiddle" src="{% static "images/brick_go.png" %}" /> Clone</a>

			<!-- Delete (since it is a ContextDefinition, we can reuse the same action) -->
			<a href="{% url "context_delete" context_id=item.id %}" class="softbutton" title="Delete this context definition"><img border="0" align="absmiddle" src="{% static "images/brick_delete.png" %}" /></a>

		</td>
	</tr>
	{% empty %}
	<tr>
		<td colspan="4" align="center">No abstract context defined yet</tr>
	</tr>
	{% endfor %}
</table>
<br />
<p><a href="{% url "abstract_new" %}" class="softbutton"><img border="0" align="absmiddle" src="{% static "images/brick_add.png" %}" /> Create new abstract context</a></p>
{% endif %}

{% if enable_cloud %}
<h2>Your cluster definitions</h2>
<table class="pad-5">
	<tr>
		<th width="20">&nbsp;</th>
		<th>Name</th>
		<th width="240">ID</th>
		{% if enable_market %}
		<th width="180">Operations</th>
		{% else %}
		<th width="100">Operations</th>
		{% endif %}
	</tr>
	{% for item in cluster_list %}
		<tr>
			<td>{% if item.public %}
				<img alt="Public" title="Definition visible in public listings" src="{% static "images/world.png" %}" /></td>
				{% else %}
				<img alt="Private" title="Private definition" src="{% static "images/lock.png" %}" /></td>
				{% endif %}
			<td>{{ item.name }}</td>
			<td>{{ item.uid }}</td>
			<td>
				<a href="{% url "cluster_clone" cluster_id=item.id %}" class="softbutton"><img border="0" align="absmiddle" src="{% static "images/brick_go.png" %}" /> Clone</a>
				{% if item.public %}
					{% if enable_market %}<a href="{% url "market_cluster_revoke" cluster_id=item.id %}" class="softbutton" title="Remove this cluster definition from the marketpace"><img border="0" align="absmiddle" src="{% static "images/cart_delete.png" %}" /> Withdraw</a>{% endif %}
				{% else %}
					{% if enable_market %}<a href="{% url "market_cluster_publish" cluster_id=item.id %}" class="softbutton" title="Publish this cluster definition to marketplace"><img border="0" align="absmiddle" src="{% static "images/cart_add.png" %}" /> Publish</a>{% endif %}
					<a href="{% url "cluster_delete" cluster_id=item.id %}" class="softbutton"><img border="0" align="absmiddle" src="{% static "images/brick_delete.png" %}" /></a>
				{% endif %}
			</td>
		</tr>
	{% empty %}
		<tr>
			<td colspan="4" align="center">No clusters defined yet</tr>
		</tr>
	{% endfor %}
</table>
<br />
<p><a href="{% url "cluster_create" %}" class="softbutton"><img border="0" align="absmiddle" src="{% static "images/package_add.png" %}" /> Create new cluster</a></p>
{% endif %}

<h2>Your virtual machines</h2>
<table class="pad-5">
	<tr>
		<th width="20">&nbsp;</th>
		<th>Machine</th>
		<th width="50">CernVM</th>
		<th width="170">Context</th>
		<th width="100">Operations</th>
	</tr>
	{% for item in machine_list %}
		<tr>
			<td>
				{% if item.status == "C" %}
					<img alt="VM Cloud" title="Instance contextualized on the cloud" src="{% static "images/vm_cloud.png" %}" />
				{% elif item.status == "P" %}
					<img alt="VM" title="Instance contextualized via pairing" src="{% static "images/vm_user.png" %}" />
				{% else %}
					<img alt="VM" src="{% static "images/vm.png" %}" />
				{% endif %}
			</td>
			<td>{{ item.ip }} <small>({{ item.uuid }})</small></td>
			<td>{{ item.version }}</td>
			<td>{{ item.context.name }}</td>
			<td align="center">
				<a href="{% url "vm_delete" machine_uuid=item.uuid %}" class="softbutton" title="Stop managing this virtual machine"><img border="0" align="absmiddle" src="{% static "images/vm_remove.png" %}" /> Unmanage</a>
			</td>
		</tr>
	{% empty %}
		<tr>
			<td colspan="5" align="center">No instances paired yet</tr>
		</tr>
	{% endfor %}
</table>
<br />
<p><a href="{% url "vm_pair_begin" %}" class="softbutton"><img border="0" align="absmiddle" src="{% static "images/vm_contextualize.png" %}" /> Pair an instance of CernVM</a></p>

{% endblock %}
