{% extends "core/class_context.html" %}
{% block title %}Context Definition{% endblock %}
{% load formutils %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
{% load static %}{% load url from future %}
{% load comments %}

<div style="width: 500px;">
<h2><strong>{{context.name}}</strong></h2>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />

<script>
$(function() {
	$( "#accordion" ).accordion({
		active: false,
		collapsible: true
	});
});
</script>

</br>
<div id="accordion" style="width: 500px;">
	<h3> Information: </h3>
	<div>
		<p>
		<strong>Author: </strong> {{ context.owner }} </br>
		<strong>Date created: </strong> {{ context.timestamp }}
		</p>
	</div>
	<h3> General: </h3>
	<div>
		<p>
		<strong>Description:</strong> {{ context.description }} </br>
		<strong>Secret key:</strong> {{ context.key }} </br>
		</p>
	</div>
	<h3> CVMFS Configuration: </h3>
	<div>
		<p>
		<strong>Main group:</strong> {{context.organisation}}
		</p>
	</div>
	<h3> Users: </h3>
	<div>
		<p>
		<strong>Main group:</strong> {{context.organisation}}
		</p>
	</div>
	<h3> Services: </h3>
	<div>
		<p>
		<strong>Main group:</strong> {{context.organisation}}
		</p>
	</div>
	<h3> Enviroment: </h3>
	<div>
		<p>
		<strong>Main group:</strong> {{context.organisation}}
		</p>
	</div>
	<h3> CernVM Preferences: </h3>
	<div>
		<p>
		<strong>Main group:</strong> {{context.organisation}}
		</p>
	</div>
	<h3> Root SSH Key: </h3>
	<div>
		<p>
		<strong>Main group:</strong> {{context.organisation}}
		</p>
	</div>
	<h3> Startup script: </h3>
	<div>
		<p>
		<strong>Main group:</strong> {{context.organisation}}
		</p>
	</div>
	<h3> Other information:</h3>
	<div>
		<p>
		<strong>Main group:</strong> {{context.organisation}}
		</p>
	</div>
</div>
</br>
<button style="float: right;">Import to My Dashboard</button>
<a href="{% url 'marketplace' %}">
	<button style="float: left;">Back to Marketplace</button>
</a>
</br> 
</br>
</br>
{{comment.id}}
	{% for object in object_list %}
		<li>
			<h2><a href="{{ object.url }}">{{ object.title }}</a></h2>
			<p class="description">{{ object.summary}}</p>
			<p class="details"><a href="{{ object.get_absolute_url }}">{{ comment_count }} Comments</a></p>
		</li>
	{% endfor %}

{% render_comment_list for context %}
{% get_comment_list for context as comment_list %}
{% for comment in comment_list %}
    {{comment}}
{% endfor %}
</br>
{% if user.is_authenticated %}
    <p><strong>Submit a comment:</strong></p>
    <form action="/comments/posted/" method="post">
		{% csrf_token %}
	    <textarea name="comment" id="id_comment" rows="2" style="width: 90%;"></textarea>
       	<input type="hidden" name="options" value="{{ options }}" />
       	<input type="hidden" name="target" value="{{ target }}" />
       	<input type="hidden" name="gonzo" value="{{ hash }}" />
       	<input type="hidden" name="next" value="{{ entry.get_absolute_url }}" /> 
        <span style="float:right; margin-right: 40px;"><input type="submit" name="post" value="Add"></span>
    </form>
    {% else %}
        <p>Please <a href="/login/">log in</a> to post a comment.</p>
    {% endif %}
</div>
{% endblock %}