{% extends "core/class_context.html" %}
{% block title %}Context Definition{% endblock %}
{% load formutils %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
{% load static %}{% load url from future %}
<h1>Marketplace</h1>

<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />

<script>
$(function() {
	$( "#accordion" ).accordion({
		active: false,
		collapsible: true
	});
});
</script>

</br>
<form action="/search/?q=">
  <input type="text" name="q" id="id_q">
  <button type="submit" class="search-btn"><span</span></button>
</form>
</br>
<div id="accordion" style="width: 450px;">
	{% for item in contexts %}
		<h4 style="color: black; margin-bottom: 10px;">
		{{ item.name }} </br>
		</h4>
		<div>
		<p>
        <strong>Description:</strong> {{ item.description | truncatechars:30}} </br>
    		<strong>Author: </strong> {{ item.owner }} </br>
    		<strong>Date created: </strong> {{ item.timestamp }}
		</p>
    {% if user.is_authenticated %}
      <a href={%url "context_clone" context_id=item.id%}>
  		  <button style="float: left;">Import to My Dashboard</button>
      </a>
      {% else %}
      <a href="/login">
        <button style="float: left;">Import to My Dashboard</button>
      </a>
    {% endif %}
		<a href="/marketplace_detail/{{ item.id}}">
			<button style="float: right;">More</button>
		</a>
		</div>
	{% endfor %}
</div>
</br>
<div class="pagination">
    <span class="step-links">
        {% if contexts.has_previous %}
            <a href="?page={{ contexts.previous_page_number }}">previous</a>
        {% endif %}

        <span class="current">
            Page {{ contexts.number }} of {{ contexts.paginator.num_pages }}.
        </span>

        {% if contexts.has_next %}
            <a href="?page={{ contexts.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>
</br> 
{% endblock %}
