{% extends "core/class_context.html" %}
{% block title %}Context Definition{% endblock %}
{% load formutils %}
{% load static %}
{% block head %}
{% endblock %}
{% block body %}
{% load static %}{% load url from future %}
<h1>Marketplace</h1>
<link rel="stylesheet" href="http://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.css" />
<script src="http://code.jquery.com/jquery-1.9.1.js"></script>
<script src="http://code.jquery.com/ui/1.10.3/jquery-ui.js"></script>
<link rel="stylesheet" href="/resources/demos/style.css" />
<script>
$(function() {
$( "#accordion" ).accordion({
	active: false,
    collapsible: true  
});
});
</script>
</br>
<div id="accordion" style="width: 450px;">
	{% for item in context_list %}
		<h4>
		{{ item.name }}
		</h4>
		<div>
		<p>
		Author: {{ item.owner }}
		</p>
		</div>
	{% endfor %}
</div>
</br> 
{% endblock %}
