{% extends "core/class_context.html" %}
{% block title %}Cluster Definition{% endblock %}
{% load formutils %}
{% load static %}
{% block head %}<script type="text/javascript" src="{% static "scripts/cvmocluster.js" %}"></script>{% endblock %}
{% block body %}
<form action="/cluster/create" method="post">{% csrf_token %}
<h1>Cluster template</h1>
<p>Please fill the following parameters and click create in order to create a new cluster definition</p>

<div id='content-accordion' {% if disabled %}class="cvmo-context-disabled"{% endif %}>

	<div class="accordion-header separator"><h2>General</h2></div>
	<div class="accordion-content">
		<table class="plain long-text">
			<tr>
				<th width="150">Context name:</th>
				<td><input type="text" maxlength="100" name="values[name]" value="{{ values.name }}" {{disabled|dis}}/></td>			
			</tr>
			<tr>
				<th>Description:</th>
				<td><textarea class="code" name="values[description]" name="other" {{disabled|dis}}>{{ values.description }}</textarea></td>			
			</tr>
			<tr>
				<th>&nbsp</th>
				<td><input type="checkbox"  name="values[public]" value="1" id="public" {{values.public|chk}} {{disabled|dis}}><label for="public"> Make this cluster definition visible on the public lists</label></td>
			</tr>
			<tr>
				<th>&nbsp</th>
				<td><input type="checkbox"  name="values[agent]" value="1" id="agent" {{values.agent|chk}} {{disabled|dis}}><label for="agent"> Enable CernVM Agent infrastructure</label></td>
			</tr>
			<tr>
				<th>Secret key:</th>
				<td><input type="text" maxlength="100" class="cvmo-disabling-protect" name="values[secret]" value="{{ values.secret }}" {{disabled|dis}}/></td>			
			</tr>
			<tr>
				<th>&nbsp</th>
				<td><input type="checkbox" class="cvmo-disabling" name="values[protect]" value="1" id="protect" {{values.protect|chk}} {{disabled|dis}}><label for="protect"> Protect this context with a secret key</label></td>
			</tr>
		</table>
	</div>

	<div class="accordion-header separator"><h2>Instances</h2></div>
	<div class="accordion-content">
		<p class="description">Please select the context definitions that will compose your cluster.</p>
		<table id="table_cluster" class="pad-5">
			<thead>
				<tr>
					{% if not disabled %}
					<th width="25">Order</th>
					{% endif %}
					<th>Contextualization Template</th>
					<th width="50">From Amount</th>
					<th width="50">To Amount</th>
					<th width="30">Elastic</th>
					{% if not disabled %}
					<th width="150">Operations</th>
					{% endif %}
				</tr>
			</thead>
			<tbody id="table_cluster_body">
				{% for index, inst in values.instances.iteritems %}
				<tr id="instancePre{{forloop.counter}}" class="cvm-cluster-entry">
					{% if not disabled %}
					<td align="center"><img  id="instance_handle{{forloop.counter}}" class="cvm-context-handle handle" src="{% static "images/handle.png" %}" alt="=" /></td>
					<td><input type="hidden" name="values[instances][{{forloop.counter}}][context]" value="{{inst.context}}" />{{inst.context}}</td>
					<td align="center"><input type="text" style="width:50px" name="values[instances][{{forloop.counter}}][from_amt]" value="{{inst.from_amt}}" /></td>
					<td align="center"><input type="text" style="width:50px" name="values[instances][{{forloop.counter}}][to_amt]" value="{{inst.to_amt}}" /></td>
					<td align="center"><input type="checkbox" name="values[instances][{{forloop.counter}}][elastic]" value="1" {{inst.elastic|chk}} {{disabled|dis}} /></td>
					{% else %}
					<td><input type="hidden" name="values[instances][{{forloop.counter}}][context]" value="{{inst.context}}" />{{inst.context}}</td>
					<td align="center"><input type="hidden" style="width:50px" name="values[instances][{{forloop.counter}}][from_amt]" value="{{inst.from_amt}}" />{{inst.from_amt}}</td>
					<td align="center"><input type="hidden" style="width:50px" name="values[instances][{{forloop.counter}}][to_amt]" value="{{inst.to_amt}}" />{{inst.to_amt}}</td>
					<td align="center"><input type="hidden" name="values[instances][{{forloop.counter}}][elastic]" value="{{inst.elastic}}" />{% if inst.elastic %}Yes{% else %}No{% endif %}</td>
					{% endif %}
					{% if not disabled %}
					<td class="v-middle" align="center"><a href="javascript:;" onclick="CVMO.ClusterUI.RemoveInstance('instancePre{{forloop.counter}}');" class="softbutton"><img border="0" src="{% static "images/vm_remove.png" %}" align="absmiddle"> Remove instance</a></td>
					{% endif %}
				</tr>
				{% endfor %}
			</tbody>
			{% if not disabled %}
			<thead>
				<tr id="newcontext_row" class="tr-newuser">
					<td>&nbsp;</td>
					<td><input type="text" id="new_context" style="width:98%" /></td>			
					<td><input type="text" maxchars="3" style="width:50px" id="new_from_amt" value="1" /></td>
					<td><input type="text" maxchars="3" style="width:50px" id="new_to_amt" value="1" /></td>
					<td align="center"><input type="checkbox" value="1" id="new_elastic" /></td>
					<td align="center"><a href="javascript:;" onclick="CVMO.ClusterUI.AddInstanceFromForm()" class="softbutton"><img border="0" src="{% static "images/vm_add.png" %}" align="absmiddle"> Add instance</a></td>
				</tr>
			</thead>
			{% endif %}
		</table>
	</div>
	<div class="accordion-header separator"><h2>Environment</h2></div>
	<div class="accordion-content">
		<p class="description">Here you can specify the environment variables your scripts might be using. These variables will be shared along the VM instances.</p>
		<table id="table_env" class="pad-5">
			<thead>
				<tr>
					{% if not disabled %}
					<th>Name</th>
					{% else %}
					<th width="200">Name</th>
					{% endif %}
					<th width="10">&nbsp;</th>
					<th>Value</th>
					{% if not disabled %}
					<th width="150">Operations</th>
					{% endif %}
				</tr>
			</thead>
			<tbody id="table_env_body">
				{% for v_name,v_value in values.environment.items %}
				<tr id="env-entry-{{v_name}}" class="cvm-environment-entry">
					<td align="right"><strong>{{v_name}}</strong></td>
					<td align="center">=</td>
					{% if not disabled %}
					<td><input type="text" name="values[environment][{{v_name}}]" value="{{v_value}}" /></td>
					<td class="v-middle" align="center"><a href="javascript:;" onclick="CVMO.ClusterUI.RemoveEnv('env-entry-{{v_name}}');" class="softbutton"><img border="0" src="{% static "images/page_delete.png" %}" align="absmiddle"> Remove variable</a></td>
					{% else %}
					<td><input type="hidden" name="values[environment][{{v_name}}]" value="{{v_value}}" />{{v_value}}</td>
					{% endif %}
				</tr>
				{% empty %}
					{% if disabled %}
					<tr>
						<td colspan="3" align="center">No environment variables are defined</tr>
					</tr>
					{% endif %}
				{% endfor %}
			</tbody>
			{% if not disabled %}
			<thead>
				<tr id="newenv_row" class="tr-newenv">
					<td><input type="text" id="new_env_var" style="width:98%" /></td>			
					<td align="center">=</td>
					<td><input type="text" id="new_env_value" style="width:98%" /></td>			
					<td align="center"><a href="javascript:;" onclick="CVMO.ClusterUI.AddEnvFromForm()" class="softbutton"><img border="0" src="{% static "images/page_add.png" %}" align="absmiddle"> Add variable</a></td>
				</tr>
			</thead>
			{% endif %}
		</table>
	</div>
	
</div>

{% if not disabled %}
<p><input type="submit" value="{{ submit_label|default:'Create cluster' }}" /></p>
{% endif %}
</form>

{% endblock %}