{% extends "core/class_context.html" %}
{% load formutils %}
{% load static %}
{% load url from future %}

{% block title %}Create Cluster{% endblock %}
{% block head %}
	<script type="text/javascript" src="{% static "scripts/cvmocluster.js" %}"></script>
	<script type="text/javascript" src="{% static "scripts/jquery.validate.min.js" %}"></script>
{% endblock %}

{% block body %}
	{% if debug %}
	<pre>{{ debug }}</pre>
	{% endif %}
	<h1>Create Cluster</h1>
	<!-- {% url "cluster_save" %} -->
	<form action="" id="cluster_create_form" method="post">
		{% csrf_token %}
	
		<div id="content-accordion">
			<div class="accordion-header separator"><h2>General</h2></div>
			<div class="accordion-content container">
				<table class="plain long-text">
					<tr>
						<th width="150"><label for="name">Cluster name:</label></th>
						<td>
							<input type="text" id="name" class="cvmo-validate" maxlength="100" name="values[name]" value="{{ values.name }}" />
						</td>			
					</tr>
					<tr>
						<th width="150"><label for="description">Description:</label></th>
						<td>
							<textarea name="values[description]" id="description">{{ values.description }}</textarea>
						</td>			
					</tr>
					<tr>
						<th>Secret key:</th>
						<td>
							<input type="text" maxlength="100" class="cvmo-disabling-protect" name="values[secret]" value="{{ values.secret }}" />
						</td>			
					</tr>
					<tr>
						<th>&nbsp</th>
						<td>
							<input type="checkbox" class="cvmo-disabling" name="values[protect]" value="1" id="protect" {{ values.protect|chk }} />
							<label for="protect"> Protect this cluster with a secret key</label>
						</td>
					</tr>
				</table>
			</div>
	
			<div class="accordion-header separator"><h2>Services</h2></div>
			<div class="accordion-content container" id="services_container">

				<table id="services" class="pad-5">
					<thead>
						<tr>
							<th width="16">&nbsp;</th>
							<th width="50">Key</th>
							<th width="110">Template</th>
							<th width="80">Context</th>
							<th width="70">Network</th>
							<th width="70">Disk</th>
							<th width="70">CPU</th>
							<th>Operations</th>
						</tr>
					</thead>
					<tbody id="fixed-services-sortable" class="services-list">
						{% for row in values.services.fixed %}
							<tr class="service-row">
								<td class="handle"><img src="{% static "images/handle.png" %}" /></td>
								<th>{{ row.uid }}</th>
								<td>{{ row.template.name }}</td>
								<td>{{ row.context.name }}</td>
								<td>{{ row.network_offering }}</td>
								<td>{{ row.disk_offering }}</td>
								<td>{{ row.service_offering }}</td>
								<td class="operations">
									<a href="javascript:;" onclick="deleteService(this)" class="softbutton">
										<img border="0" src="{% static "images/delete.png" %}" align="absmiddle" /> Del
									</a>
									&nbsp;
									<a href="javascript:;" onclick="editService(this)" class="softbutton">
										<img border="0" src="{% static "images/edit.png" %}" align="absmiddle" /> Edit
									</a>
									<span class="service-data">
										<input type="hidden" name="values[services][{{ row.uid }}][uid]" value="{{ row.uid }}" />
										<input type="hidden" name="values[services][{{ row.uid }}][context]" value="{{ row.template.name }}" />
										<input type="hidden" name="values[services][{{ row.uid }}][template]" value="{{ row.template.name }}" />
										<input type="hidden" name="values[services][{{ row.uid }}][network_offering]" value="{{ row.network_offering.name }}" />
										<input type="hidden" name="values[services][{{ row.uid }}][disk_offering]" value="{{ row.disk_offering.name }}" />
										<input type="hidden" name="values[services][{{ row.uid }}][service_offering]" value="{{ row.service_offering.name }}" />
										<input type="hidden" name="values[services][{{ row.uid }}][order]" value="{{ row.order }}" />
										<input type="hidden" name="values[services][{{ row.uid }}][min_instances]" value="{{ row.min_instances }}" />
									</span>
								</td>
							</tr>
						{% endfor %}
						<tr>
							<td colspan="8" align="center" id="label-no-fixed"><em>(No fixed services defined)</em></td>
						</tr>
					</tbody>
					<thead>
						<th colspan="4" class="cluster-fixed-separator"><img src="{% static "images/min-up.png" %}" align="absmiddle" /> Fixed services (Infrastructure)</th>
						<th colspan="4" class="cluster-fixed-separator" style="text-align:right">Scalable services (Workers) <img src="{% static "images/min-down.png" %}" align="absmiddle" /> </th>
					</thead>
					<tbody id="scalable-services-sortable" class="services-list">
						{% for row in values.services.scalable %}
							<tr class="service-row">
								<td class="handle"><img src="{% static "images/handle.png" %}" /></td>
								<th>{{ row.uid }}</th>
								<td>{{ row.template.name }}</td>
								<td>{{ row.context.name }}</td>
								<td>{{ row.network_offering }}</td>
								<td>{{ row.disk_offering }}</td>
								<td>{{ row.service_offering }}</td>
								<td class="operations">
									<a href="javascript:;" onclick="deleteService(this)" class="softbutton">
										<img border="0" src="{% static "images/delete.png" %}" align="absmiddle" /> Del
									</a>
									&nbsp;
									<a href="javascript:;" onclick="editService(this)" class="softbutton">
										<img border="0" src="{% static "images/edit.png" %}" align="absmiddle" /> Edit
									</a>
									<span class="service-data">
										<input type="hidden" name="values[services][{{ row.uid }}][uid]" value="{{ row.uid }}" />
										<input type="hidden" name="values[services][{{ row.uid }}][context]" value="{{ row.template.name }}" />
										<input type="hidden" name="values[services][{{ row.uid }}][template]" value="{{ row.template.name }}" />
										<input type="hidden" name="values[services][{{ row.uid }}][network_offering]" value="{{ row.network_offering.name }}" />
										<input type="hidden" name="values[services][{{ row.uid }}][disk_offering]" value="{{ row.disk_offering.name }}" />
										<input type="hidden" name="values[services][{{ row.uid }}][service_offering]" value="{{ row.service_offering.name }}" />
										<input type="hidden" name="values[services][{{ row.uid }}][order]" value="{{ row.order }}" />
										<input type="hidden" name="values[services][{{ row.uid }}][min_instances]" value="{{ row.min_instances }}" />
									</span>
								</td>
							</tr>
						{% endfor %}
						<tr>
							<td colspan="8" align="center" id="label-no-scalable"><em>(No scalable services defined)</em></td>
						</tr>
					</tbody>
				</table>
				<br />
				<p>
					<a href="javascript:;" class="softbutton" id="add-service">
						<img border="0" src="{% static "images/add.png" %}" align="absmiddle" />
						 Add Service
					</a>
				</p>
			</div>
		</div>
		<div class="buttons-container">
			<input type="submit" value="Create cluster" />
		</div>			
	</form>
	
	<div id="add-service-container">
		<div id="add-service-error" class="header-error"><span>Mo error</span></div>
		<form id="add-service-form">
			<table class="plain long-text add-service">
				<tr>
					<th width="150"><label for="ns_uid">Service key:</label></th>
					<td>
						<input type="text" id="ns_uid" maxlength="16" class="required text ui-widget-content ui-corner-all" name="ns_uid" />
					</td>			
				</tr>
				<tr>
					<th width="150"><label for="ns_context_name">Context:</label></th>
					<td>
						<input type="text" id="ns_context_name" class="required validate-context text ui-widget-content ui-corner-all" name="ns_context_name" />
					</td>			
				</tr>
				<tr>
					<th width="150"><label for="ns_template">Template:</label></th>
					<td>
						<select name="ns_template" id="ns_template">
							{% for row in templates %}
								<option value="{{ row.name }}">{{ row.name }}</option>
							{% endfor %}
						</select>
					</td>			
				</tr>
				<tr>
					<th width="150"><label for="ns_instances">Instances:</label></th>
					<td>
						<input type="text" id="ns_instances" maxlength="4" class="required positive ui-widget-content ui-corner-all" name="ns_instances" />
					</td>			
				</tr>
				<tr>
					<th width="150"><label for="ns_service_offering">Service offering:</label></th>
					<td>
						<select name="ns_service_offering" id="ns_service_offering">						
							{% for row in service_offerings %}
								<option value="{{ row.name }}">{{ row.name }}</option>
							{% endfor %}
						</select>
					</td>			
				</tr>
				<tr>
					<th width="150"><label for="ns_disk_offering">Disk offering:</label></th>
					<td>
						<select name="ns_disk_offering" id="ns_disk_offering">
							<option value="">None</option>
							{% for row in disk_offerings %}
								<option value="{{ row.name }}">{{ row.name }}</option>
							{% endfor %}
						</select>
					</td>			
				</tr>
				<tr>
					<th width="150"><label for="ns_network_offering">Network offering:</label></th>
					<td>
						<select name="ns_network_offering" id="ns_network_offering">
							<option value="">None</option>
							{% for row in network_offerings %}
								<option value="{{ row.name }}">{{ row.name }}</option>
							{% endfor %}
						</select>
					</td>			
				</tr>
			</table>
		</form>
	</div>
		
{% endblock %}
