{% extends "core/class_context.html" %}
{% block title %}Dashboard{% endblock %}

{% block body %}
{% load static %}{% load url from future %}
<h1>Dashboard</h1>

<h2>Your context definitions</h2>
<table class="pad-5">
	<tr>
		<th width="20">&nbsp;</th>
		<th>Name</th>
		<th width="240">ID</th>
		<th width="200">Operations</th>		
	</tr>
	{% for item in context_list %}
		<tr>
			<td>{% if item.public %}
				<img alt="Public" title="Definition visible in public listings" src="{% if item.key %}{% static "images/world_key.png" %}{% else %}{% static "images/world.png" %}{% endif %}" /></td>
				{% else %}
				<img alt="Private" title="Private definition" src="{% if item.key %}{% static "images/user_key.png" %}{% else %}{% static "images/user.png" %}{% endif %}" /></td>
				{% endif %}
			<td>{{ item.name }}</td>
			<td>{{ item.id }}</td>
			<td>
				<a href="{% url "context_delete" context_id=item.id %}" class="softbutton"><img border="0" align="absmiddle" src="{% static "images/brick_delete.png" %}" /> Remove</a>
				<a href="{% url "context_clone" context_id=item.id %}" class="softbutton"><img border="0" align="absmiddle" src="{% static "images/brick_go.png" %}" /> Use as template</a>
			</td>
		</tr>
	{% empty %}
		<tr>
			<td colspan="4" align="center">No context defined yet</tr>
		</tr>
	{% endfor %}
</table>
<br />
<p><a href="{% url "context_new" %}" class="softbutton"><img border="0" align="absmiddle" src="{% static "images/brick_add.png" %}" /> Create new context</a></p>

{% if enable_cloud %}
<h2>Your cluster definitions</h2>
<table class="pad-5">
	<tr>
		<th width="20">&nbsp;</th>
		<th>Name</th>
		<th width="240">ID</th>
		<th width="200">Operations</th>		
	</tr>
	{% for item in cluster_list %}
		<tr>
			<td>{% if item.public %}
				<img alt="Public" title="Definition visible in public listings" src="{% static "images/world.png" %}" /></td>
				{% else %}
				<img alt="Private" title="Private definition" src="{% static "images/lock.png" %}" /></td>
				{% endif %}
			<td>{{ item.name }}</td>
			<td>{{ item.uid }}</td>
			<td>
				<a href="{% url "cluster_delete" cluster_id=item.id %}" class="softbutton"><img border="0" align="absmiddle" src="{% static "images/brick_delete.png" %}" /> Remove</a>
			</td>
		</tr>
	{% empty %}
		<tr>
			<td colspan="4" align="center">No clusters defined yet</tr>
		</tr>
	{% endfor %}
</table>
<br />
<p><a href="{% url "cluster_create" %}" class="softbutton"><img border="0" align="absmiddle" src="{% static "images/package_add.png" %}" /> Create new cluster</a></p>
{% endif %}

<h2>Your virtual machines</h2>
<table class="pad-5">
	<tr>
		<th width="20">&nbsp;</th>
		<th>Machine</th>
		<th width="50">CernVM</th>
		<th width="170">Context</th>
		<th width="100">Operations</th>
	</tr>
	{% for item in machine_list %}
		<tr>
			<td>
				{% if item.status == "C" %}
					<img alt="VM Cloud" title="Instance contextualized on the cloud" src="{% static "images/vm_cloud.png" %}" />
				{% elif item.status == "P" %}
					<img alt="VM" title="Instance contextualized via pairing" src="{% static "images/vm_user.png" %}" />
				{% else %}
					<img alt="VM" src="{% static "images/vm.png" %}" />
				{% endif %}
			</td>
			<td>{{ item.uuid }}</td>
			<td>{{ item.version }}</td>
			<td>{{ item.context.name }}</td>
			<td align="center">
				<a href="{% url "vm_delete" machine_uuid=item.uuid %}" class="softbutton" title="Stop managing this virtual machine"><img border="0" align="absmiddle" src="{% static "images/vm_remove.png" %}" /> Unmanage</a>
			</td>
		</tr>
	{% empty %}
		<tr>
			<td colspan="5" align="center">No instances paired yet</tr>
		</tr>
	{% endfor %}
</table>
<br />
<p><a href="{% url "vm_pair_begin" %}" class="softbutton"><img border="0" align="absmiddle" src="{% static "images/vm_contextualize.png" %}" /> Pair an instance of CernVM</a></p>

{% endblock %}