{% extends "core/class_context.html" %}
{% load formutils %}
{% load static %}
{% load url from future %}

{% block title %}Publish Cluster{% endblock %}
{% block head %}
	<script type="text/javascript" src="{% static "scripts/cvmompublish.js" %}"></script>
{% endblock %}

{% block body %}
<h1>Publish to marketplace</h1>
<p>Using this form you can make your cloud definition visible on the public marketplace. You can still however publish encrypted information.</p>
<form action="{% url "market_cluster_publish_action" %}" id="market_publish" method="post" enctype="multipart/form-data">
	{% csrf_token %}
	
	<div id="content-accordion">
		<div class="accordion-header separator"><h2>General</h2></div>
		<div class="accordion-content container">
			<table class="plain long-text">
				<tr>
					<th width="150"><label for="name">Cluster name:</label></th>
					<td>
						<strong>{{cluster.name}}</strong>
						<input type="hidden" name="cluster" value="{{cluster.id}}" />
					</td>
				</tr>
				<tr>
					<th width="150"><label for="instructions">Detailed instructions:</label></th>
					<td>
						<textarea name="instructions" id="instructions">{{ values.instructions }}</textarea>
					</td>			
				</tr>
			</table>
		</div>
		
		<div class="accordion-header separator"><h2>Environment variables</h2></div>
		<div class="accordion-content container">
			<p class="description">Template variables that the user can specify at instantiation time.</p>
			<table id="table_env" class="pad-5">
				<thead>
					<tr>
						<th width="200" class="v-middle">Name</th>
						<th width="10">&nbsp;</th>
						<th class="v-middle">Value / Default</th>
						<th width="25" class="v-middle">Must Provide</th>
						<th width="150" class="v-middle">Operations</th>
					</tr>
				</thead>
				<tbody id="table_env_body">
					{% for v_name,v_value in values.environment.items %}
						<tr id="env-entry-{{v_name}}" class="cvm-environment-entry">
							<td align="right"><strong>{{v_name}}</strong></td>
							<td align="center">=</td>
							<td><input type="hidden" name="environment[{{v_name}}]" value="{{v_value}}" />{{v_value}}</td>
							<td align="center"><input type="checkbox" name="required[{{v_name}}]" value="1" /></td>
							<td class="v-middle" align="center"><a href="javascript:;" onclick="CVMO.Market.removeEnv('env-entry-{{v_name}}');" class="softbutton"><img border="0" src="{% static "images/page_delete.png" %}" align="absmiddle"> Remove variable</a></td>
						</tr>
					{% endfor %}
				</tbody>
				<thead>
					<tr id="newenv_row" class="tr-newenv">
						<td><input type="text" id="new_env_var" style="width:98%" /></td>			
						<td align="center">=</td>
						<td><input type="text" id="new_env_value" style="width:98%" /></td>			
						<td align="center"><input id="new_env_required" type="checkbox" /></td>
						<td align="center" class="v-middle"><a href="javascript:;" onclick="CVMO.Market.addEnvFromForm()" class="softbutton"><img border="0" src="{% static "images/page_add.png" %}" align="absmiddle"> Add variable</a></td>
					</tr>
				</thead>
			</table>
		</div>
		
		<div class="accordion-header separator"><h2>Entry details</h2></div>
		<div class="accordion-content container">
			<table class="plain long-text">
				<tr>
					<th width="150"><label for="group">Category:</label></th>
					<td>
						<select id="group" name="group">
						{% for g in groups %}
							<option value="{{g.id}}">{{g.name}}</option>
						{% endfor %}
						</select>
					</td>			
				</tr>
				<tr>
					<th width="150"><label for="tags">Tags:</label></th>
					<td>
						<input type="text" id="tags" maxlength="100" name="tags" value="{{ values.tags }}" />
					</td>			
				</tr>
				<tr>
					<th width="150"><label for="icon">Icon:</label></th>
					<td>
						<div id="imgselect">
							{% if icons %}
								<ul>
								{% for img in icons %}
									<li>
										<input type="radio" id="mrktimg{{forloop.counter}}" name="prev_icon" value="{{img.name}}" />
										<label for="mrktimg{{forloop.counter}}" style="background-image: url({{img.url}})">&nbsp;</label>
									</li>
								{% endfor %}
								</ul>
							{% else %}
								<div class="empty">You have not uploaded any image yet</div>
							{% endif %}
						</div>
					</td>
				</tr>
				<tr>
					<td>&nbsp;</td>
					<td>
						<span style="vertical-align: middle">Upload one: <input type="file" id="icon" name="icon" /></span>
					</td>
				</tr>
				
			</table>
		</div>
				
	</div>

	<div class="buttons-container">
		<input type="submit" value="Publish context" />
	</div>			
</form>	
		
{% endblock %}