{% extends "core/class_context.html" %}
{% load static %}
{% load url from future %}

{% block title %}CernVM Online: {{ page.title }}{% endblock %}
{% block head %}
	<link type="text/css" rel="stylesheet" media="all" href="{% static "themes/sky/wiki.css" %}" />
	<script type="text/javascript" src="{% static "scripts/slimbox.js" %}"></script>
	<link rel="stylesheet" href="{% static "themes/sky/slimbox/slimbox.css" %}" type="text/css" media="screen" />
{% endblock %}

{% block body %}
	<div id="wiki_page_container">
		<ul class="breadcrumb-path">
			{% for cat in category_path %}
				<li><span class="separator">&gt;</span><a href="/wiki{{cat.url}}">{{cat.title}}</a></li>	 
			{% endfor %}
			<li><span class="separator">&gt;</span><a href="/wiki{{page.url}}">{{page.title}}</a></li>
		</ul>
		
		<h1 class="page-title">{{ page.title }}</h1>
		<div class="page-contents">
			{{ contents }}
		</div>
	</div>
{% endblock %}
