{% extends "core/class_context.html" %}
{% load static %}
{% load url from future %}

{% block title %}CernVM Online: {{page.title}}{% endblock %}
{% block head %}
	<link type="text/css" rel="stylesheet" media="all" href="{% static "themes/sky/wiki.css" %}" />
{% endblock %}

{% block body %}	
	<div id="wiki_category_container">
		<ul class="breadcrumb-path">
			{% for cat in category_path %}
				<li><span class="separator">&gt;</span><a href="/wiki{{cat.url}}">{{cat.title}}</a></li>	 
			{% endfor %}
		</ul>
		
		<h1 class="category-title">{{category.title}}</h1>
		{% if category.description|length > 1 %}
			<p class="category-description">{{category.description}}</p>
		{% endif %}
		<div class="pages-container">
			{% for page in pages %}
				<div class="page">
					<h3 class="page-title">
						<a href="/wiki{{page.url}}">
							{{page.title}}
						</a>
					</h3>
					{% if page.intro|length > 1 %}
						<p class="page-description">{{page.intro}}</p>
					{% endif %}
				</div>
			{% endfor %}
		</div>
	</div>
{% endblock %}
