{% extends "core/class_context.html" %}
{% load formutils %}
{% load static %}
{% block title %}Design actions{% endblock %}
{% block head %}
<link rel="stylesheet" href="{% static "scripts/codemirror/lib/codemirror.css" %}">
<script type="text/javascript" src="{% static "scripts/codemirror/lib/codemirror.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/codemirror/mode/shell/shell.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/codemirror/mode/python/python.js" %}"></script>
<script type="text/javascript" src="{% static "scripts/codemirror/mode/perl/perl.js" %}"></script>
<style type="text/css">
.CodeMirror {
	border: solid 1px #999;
}
</style>
<script type="text/javascript">
$(document).addEvent('domready', function() {
	var accordion = new Fx.Accordion($('content-accordion'), '#content-accordion .accordion-header', '#content-accordion .accordion-content', {
	    alwaysHide: false
	});
});
</script>
{% endblock %}
{% block body %}{% load url from future %}
<h1>Edit action</h1>
<p>Please update the action information and when you are ready hit update</p>
<form action="{% url "context_create" %}" method="post">
	{% csrf_token %}
	<div id='content-accordion' {% if disabled %}class="cvmo-context-disabled"{% endif %}>
		<div class="accordion-header separator"><h2>General</h2></div>
		<div class="accordion-content">
			<table class="plain long-text">
				<tr>
					<th width="150"><label for="f_name">Action name:</label></th>
					<td><input type="text" id="f_name" class="cvmo-validate" maxlength="100" name="values[name]" value="{{ values.name }}" {{disabled|dis}}/></td>			
				</tr>
				<tr>
					<th><label for="f_description">Description:</label></th>
					<td><textarea id="f_description" class="code" name="values[description]" name="other" {{disabled|dis}}>{{ values.description }}</textarea></td>			
				</tr>
				<tr>
					<th>&nbsp</th>
					<td><input type="checkbox"  name="values[public]" value="1" id="public" {{values.public|chk}} {{disabled|dis}}><label for="public"> Make this context visible on the public lists</label></td>
				</tr>
			</table>
		</div>
		<div class="accordion-header separator"><h2>Script</h2></div>
		<div class="accordion-content">
			<table class="plain">
				<tr>
					<th width="150"><label for="f_lang">Execute this action as:</label></th>
					<td>
						<select class="cvmo-disclose" id="kind" name="values[kind]" onchange="updateHighlight(this.value)">
	                    	<option value="command" {{ values.kind|sel:"command" }}>Simple command</option>
	                    	<option value="shell" {{ values.kind|sel:"shell" }}>Shell Script</option>
	                    	<option value="perl" {{ values.kind|sel:"perl" }}>Perl Script</option>
	                    	<option value="python" {{ values.kind|sel:"python" }}>Python Script</option>
	                    	<option value="remote" {{ values.kind|sel:"remote" }}>Remote tarball</option>
	                    </select>
					</td>
				</tr>
				<tr class="cvmo-disclose-kind-shell cvmo-disclose-kind-perl cvmo-disclose-kind-python">
					<th><label for="f_description">Code:</label></th>
					<td>
						<textarea id="code" style="width: 100%" rows="20">{{values.code}}</textarea>
					</td>
				</tr>
				
				<!-- Simple command -->
				<tr class="cvmo-disclose-kind-command">
					<td>&nbsp;</td>
					<td>
						<p class="description">
							In this mode the agent will run the given command.
						</p>
					</td>
				</tr>
				<tr class="cvmo-disclose-kind-command">
					<th><label for="f_command">Command:</label></th>
					<td>
						<input type="text" style="width: 100%" id="f_command" name="values[command]" placeholder="/path/to/binary $ENV_PARAMETER" value="{{values.command}}" />
					</td>
				</tr>
				
				<!-- Remote URL -->
				<tr class="cvmo-disclose-kind-remote">
					<td>&nbsp;</td>
					<td>
						<p class="description">
							In this mode the agent will download the specified tarball from the given URL, extract it and run the file <strong>shell.sh</strong> that is expected to be inside. 
							For security reasons the agent requires the SHA1 signature of the tarball. If after the download the signature does not match the value specified here, the file will be rejected.
						</p>
					</td>
				</tr>
				<tr class="cvmo-disclose-kind-remote">
					<th><label for="f_url">URL:</label></th>
					<td>
						<input type="text" style="width: 100%" id="f_url" name="values[url]" placeholder="http://" value="{{values.url}}" />
					</td>
				</tr>
				<tr class="cvmo-disclose-kind-remote">
					<th><label for="f_url">SHA1 Checksum:</label></th>
					<td>
						<input type="text" id="f_url" style="width: 250px" name="values[url_checksum]" value="{{values.url_checksum}}" />
					</td>
				</tr>
			</table>
		</div>
	</div>
</form>
	
<script type="text/javascript">

	var mode = document.getElementById('kind').value;
	if ((mode != 'python') && (mode != 'perl') && (mode != 'shell')) mode='shell';
	
	var editor = CodeMirror.fromTextArea(document.getElementById('code'), {
		mode: mode,
		lineNumbers: true,
		matchBrackets: true
	});
	
	function setMode(mode) {
		// Detect interpreter based on the mode
		var interpreter = '/bin/bash';
		if (mode == 'perl') interpreter='/usr/bin/perl';
		if (mode == 'python') interpreter='/usr/bin/python';
		
		// Set mode on the editor
		editor.setOption("mode",mode);
		
		// Update interpreter line
		var lines = editor.getValue().split("\n");
		if (lines[0].substr(0,2) != "#!") {
			lines.unshift("#!"+interpreter);
		} else {
			lines[0] = "#!"+interpreter;
		}
		editor.setValue(lines.join("\n"));
	}
	
	function updateHighlight(lang) {
		if (lang == 'shell')  setMode('shell');
		if (lang == 'perl')   setMode('perl');
		if (lang == 'python') setMode('python');
	}
	
	setMode(mode);
</script>

{% endblock %}
