{% extends "base/main.html" %}
{% block body_class %}single_column{% endblock %}
{% load static %}
{% block title %}Marketplace{% endblock %}
{% block head %}
	<script type="text/javascript" src="{% static "base/js/cvmomarket.js" %}"></script>
{% endblock %}

{% block body %}
<h1>CernVM Marketplace</h1>
<p>Pick one of the public contextualization information and pair you CernVM instance.</p>
<div id="marketframe">
	<div class="marketinfo_back">&nbsp;</div>
	<div id="marketplace">
		<ul>
			{% for i in templates %}
			<li>
				<input type="radio" id="i{{i}}" name="template" tabindex="{{i}}" />
				<div>
					<label for="i{{i}}" style="background-image: url({% static "market/cernvm.png" %})">
						HLT Alice Batch
					</label>
					<div class="details">
						Here lie some of the details about the context you selected. This text
						will be automatically wrapped if it's way to long for this small label.
					</div>
				</div>
			</li>
			{% endfor %}
		</ul>
		<div id="marketplace_loader">&nbsp;</div>
		<div id="marketplace_empty">No results were found</div>
		<div class="placeholder">&nbsp;</div>
	</div>
	<div id="marketinfo">
		<div id="marketdetails">
			<h2><span id="market_title">HLT Alice Batch</span> <span class="rank" id="market_rank">0</span></h2>
			<p id="market_description">Here lie some of the details about the context you selected. This text
			will be automatically wrapped if it's way to long for this small label.</p>
			<table class="plain" id="market_options">
				<tr>
					<th width="50">Author:</th>
					<td id="market_author">Ioannis Charalampidis</td>
				</tr>
				<tr>
					<th>Tags:</th>
					<td id="market_tags">HLT</td>
				</tr>
				<tr>
					<th>Access:</th>
					<td id="market_access">Open</td>
				</tr>
				<tr>
					<td colspan="2">
						<a href="javascript:;" id="market_pair" class="softbutton" title="Use this contextualization information to pair a VM"><img border="0" align="absmiddle" src="{% static "base/img/vm_contextualize.png" %}" /> Pair</a>
						<a href="javascript:;" id="market_template" class="softbutton"><img border="0" align="absmiddle" src="{% static "base/img/brick_go.png" %}" /> Clone</a>
						<a href="javascript:;" id="market_rankup" class="softbutton" title="Liked it!"><img border="0" align="absmiddle" src="{% static "base/img/thumb_up.png" %}" /></a>
						<a href="javascript:;" id="market_rankdown" class="softbutton" title="Disliked it"><img border="0" align="absmiddle" src="{% static "base/img/thumb_down.png" %}" /></a>
					</td>
				</tr>
			</table>
		</div>
		<div id="marketfilter">
			<div class="searchbar">
				<div>
					<input type="text" id="market_search" name="search" />
					<a href="javscript:;">&nbsp;</a>
				</div>
			</div>
			<ul>
				{% for g in groups %}
				<li><a class="group-{{g.id}}" href="javascript:;">{{g.name}}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
</div>
<script tyle="text/javascript">
CVMO.initMarket();
</script>
{% endblock %}