{% load static %}{% load url from future %}<!DOCTYPE html>
<html>
	<head>
		<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
      	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
		<link rel="shortcut icon" href="/portal/sites/cernvm.cern.ch/files/sky_favicon_4.ico" type="image/x-icon" />
        <title>{% block title %} Home {% endblock %}| CernVM Online </title>
	    <link type="text/css" rel="stylesheet" media="all" href="{% static "themes/sky/layout.css" %}" />
	    <link type="text/css" rel="stylesheet" media="all" href="{% static "themes/sky/style.css" %}" />
	    <link type="text/css" rel="stylesheet" media="all" href="{% static "themes/sky/custom.css" %}" />
	    <link type="text/css" rel="stylesheet" media="all" href="{% static "themes/sky/cvmo.css" %}" />
        <link href='https://fonts.googleapis.com/css?family=Lato:300,400,700|Open+Sans:400,300,600' rel='stylesheet' type='text/css' /> <!--define the web fonts--> 
		<script type="text/javascript" src="{% static "scripts/mootools-core-1.4.5.js" %}"></script>
		<script type="text/javascript" src="{% static "scripts/mootools-more-1.4.0.1.js" %}"></script>
		<script type="text/javascript" src="{% static "scripts/cvmo.js" %}"></script>		
		{% block head %}{% endblock %}
    </head>

<body class="page-node page-cernvmonlinepages page-node-view anonymous-user left {% block body_class %}{% endblock %}" id="page-node-180">

	<div id="wrapper">
	
	    <div id="header" class="layout-region">
	
			<div id="header-inner">
				<a href="{% url "welcome" %}" title="" id="logo-inner"><img class="online" alt="CernVM Online Logo" src="{% static "themes/sky/img/online_logo.png" %}" /></a> 
				<a href="http://cernvm.cern.ch/portal" title="home"><img class="logo-home" alt="Home" src="{% static "themes/sky/img/logo-home.png" %}" /></a>
				<div class="header-fl-right">
					<!-- LOGIN -->
					<div class="login">
						{% if user.username %}
						<font color="#FFFFFF"> Logged in as {{ user.username|default:"anonymous" }} |</font>
							{% if user.password %}
							<a class="profile-link" href="{% url "profile" %}">Profile</a>
							<font color="#FFFFFF"> |</font>
							{% endif %}
							<a class="logout-link" href="{% url "logout" %}">Log out</a>
						{% else %}
						<a class="login-link" href="{% url "login" %}">Login</a>
						{% endif %}
					</div><!-- CENTER -->
					<div style="clear:both;margin:0;padding:0;"></div><!-- SEARCH -->
					<div id="search">
						<form action="https://cernvm.cern.ch/portal/?q=search" method="post">
							<div class="form">
								<input class="form-text" type="text" size="15" value="" name="keys" alt="Enter the terms you wish to search for."/> <input class="form-submit" type="submit" value=""/>
							</div>
						</form>
					</div>
				</div><!--header-fl-right-->
			</div><!-- header-inner -->

		</div><!--the end of #header-->


		<!-- HEADLINE -->
	    <div class="header-line-cernvm"></div>

		<!-- NAVIGATION -->
		<div id="navigation">
			<ul>
				{% block navbar %}
				<li class="leaf first">
					<a href="http://cernvm.cern.ch/portal/online" title="Home">About</a>
				</li>
				<li class="leaf first">
					<a href="{% url "dashboard" %}" title="Home" class="active">Dashboard</a>
				</li>
				{% endblock %}
			</ul>
		</div>

    	<!-- CONTAINER -->
	    <div id="container" class="layout-region">

	        <!-- SIDEBAR -->
	        <div id="sidebar-left" class="sidebar">

	         	<div class="inner">
					{% block sidebar %}{% endblock %}
           	 	</div>
 
        	</div>

      <!-- END HEADER -->

      
      <div id="main">

        <div class="main-inner">
	
		    <!-- CONTENT HERE -->
			<div id="content" class="clearfix">
				{% autoescape off %}
				{% if msg_error %}<div class="header-error">{{ msg_error }}</div>{% endif %}
				{% if msg_info %}<div class="header-message">{{ msg_info }}</div>{% endif %}
				{% if msg_warning %}<div class="header-warning">{{ msg_warning }}</div>{% endif %}
				{% if msg_confirm %}<div class="header-confirm">{{ msg_confirm }}</div>{% endif %}
				{% block body %}{% endblock %}
				{% endautoescape %}
            </div>
			
			<!-- CONTENT FOOTER -->
			<div id="content" class="clearfix">
				<div id="node-180" class="node clearfix node-cernvmonlinepages node-full published not-promoted not-sticky without-photo">
					<div class="meta">
						{% block bodyfooter %}{% endblock %}
					</div>
					<div class="content clearfix"></div>
				</div>
			</div>


          <!-- END CONTENT -->

        </div>

        <!-- END MAIN INNER -->

      </div>

      <!-- END MAIN -->

    </div>

    <!-- END CONTAINER -->

		<div class="push">
			&nbsp;
		</div>
		<div id="footer" class="layout-region">
			<div id="footer-inner">
				<div id="block-block-4" class="block block-block block-even region-odd clearfix">
					<div class="content">
						{% block footer %}
						<p>
							&copy; Copyright CERN 2012 - PH Department - SFT - CernVM Software appliance
						</p>
						{% endblock %}
					</div>
				</div><!-- /block.tpl.php -->
			</div>
		</div>



  </div>

  <!-- END WRAPPER -->

  </body>

</html>
