{% extends "base/main_wsidebar_tw.html" %}
{% load static %}
{% load url from future %}
{% block title %}Dashboard{% endblock %}

{% block body %}
    <div class="inner-container">
        <div class="row">
            <div class="col-xs-12">
                <div class="page-title">
                    <h1>Dashboard</h1>
                </div>

                <h2>Your context definitions</h2>
                <table class="table table-hover table-striped" id="context_definitions">
                    <thead>
                        <tr>
                            <th class="icon">&nbsp;</th>
                            <th class="name">Name</th>
                            <th class="operations">Operations</th>
                            <th class="webapi">WebAPI</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in context_definition_list %}
                            <tr>
                                <td class="icon">
                                    {% if item.public %}
                                        <img alt="Public" data-toggle="tooltip"
                                            data-placement="top"
                                            title="Definition visible in market listings"
                                            src="{% if item.key %}{% static "base/img/cart_key.png" %}{% else %}{% static "base/img/cart.png" %}{% endif %}">
                                    {% else %}
                                        <img alt="Private" data-toggle="tooltip" data-placement="top"
                                            title="Private definition"
                                            src="{% if item.key %}{% static "base/img/user_key.png" %}{% else %}{% static "base/img/user.png" %}{% endif %}">
                                    {% endif %}
                                </td>
                                <td class="name">
                                    <a href="{% url "context_view" context_id=item.id %}">
                                        {{item.name}}
                                    </a>
                                </td>
                                <td class="operations">
                                    <a href="{% if item.from_abstract %}{% url "context_abstract_contextualize" context_id=item.id %}{% else %}{% url "context_clone" context_id=item.id %}{% endif %}"
                                        class="btn btn-xs btn-default">
                                        <img src="{% static "base/img/brick_add.png" %}">
                                         Clone
                                    </a>

                                    {% if item.public %}
                                        <a href="{% url "market_revoke" context_id=item.id %}"
                                            class="btn btn-xs btn-default">
                                            <img src="{% static "base/img/cart_delete.png" %}">
                                             Withdraw
                                        </a>
                                    {% else %}
                                        <a href="{% url "market_publish" context_id=item.id %}"
                                            class="btn btn-xs btn-default">
                                            <img src="{% static "base/img/cart_add.png" %}">
                                             Publish
                                        </a>
                                        <a href="{% url "context_delete" context_id=item.id %}"
                                            class="btn btn-xs btn-danger">
                                            <img src="{% static "base/img/brick_delete.png" %}">
                                        </a>
                                    {% endif %}

                                    <div class="btn-group">
                                        <button type="button"
                                            class="btn btn-xs btn-default dropdown-toggle"
                                            data-toggle="dropdown">
                                            <img src="{% static "base/img/brick_go.png" %}">
                                             <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            {% if item.from_abstract %}
                                                <li><a href="{% url "context_clone" context_id=item.id %}">Clone with full options</a></li>
                                            {% endif %}
                                            <li><a href="{% url "context_view_plain" context_id=item.id %}">Get rendered context</b></a></li>
                                            <li><a href="{% url "context_view_raw" context_id=item.id %}">Get raw user data</b></a></li>
                                        </ul>
                                    </div>
                                </td>
                                <td class="webapi">
                                    <div class="btn-group">
                                        <button type="button"
                                            class="btn btn-xs btn-info dropdown-toggle"
                                            data-toggle="dropdown">
                                            <img src="{% static "base/img/vm_add.png" %}">
                                             Launch now
                                             <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            {% for conf in webapi_configurations %}
                                                <li>
                                                    <a class="webapi-deploy-handle"
                                                        data-context-id="{{item.id}}"
                                                        data-name="{{item.name}} VM"
                                                        data-cpus="{{conf.cpus}}"
                                                        data-memory="{{conf.memory}}"
                                                        data-disk-size="{{conf.disk_size}}" href="#">
                                                        {{conf.label}}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="4" align="center">No context defined yet</tr>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="4">
                                <a class="btn btn-sm btn-success" href="{% url "context_new" %}">
                                    <img src="{% static "base/img/brick_add.png" %}">
                                     Create new context
                                </a>
                                {% if full_abstract_list|length > 0 %}
                                    <div class="btn-group">
                                        <button type="button"
                                            class="btn btn-sm btn-success dropdown-toggle"
                                            data-toggle="dropdown">
                                            <img src="{% static "base/img/brick_add.png" %}">
                                             New context based on abstract
                                             <span class="caret"></span>
                                        </button>
                                        <ul class="dropdown-menu" role="menu">
                                            {% for item in full_abstract_list %}
                                                <li>
                                                    <a href="{% url "context_abstract_contextualize" context_id=item.id %}">
                                                        {{item.name}}
                                                    </a>
                                                </li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                                {% endif %}
                            </td>
                        </tr>
                    </tfoot>
                </table>

                <h2>Your cluster definitions</h2>
                <table class="table" id="cluster_definitions">
                    <thead>
                        <tr>
                            <th></th>
                            <th class="name">Name</th>
                            <th class="context">Contexts</th>
                            <th class="operations">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in cluster_definition_list %}
                            <tr>
                                <td class="secure" rowspan="2" style="vertical-align:middle">
                                    {% if item.encryption_checksum != '' %}
                                    <span class="tooltip-container">
                                        <span class="glyphicon glyphicon-lock secure-data-icon">This cluster definition is encrypted</span>
                                    </span>
                                    {% else %}
                                    &nbsp;
                                    {% endif %}
                                </td>
                                <td class="name" rowspan="2">
                                    {{item.name}}
                                </td>
                                <td class="context">
                                    <strong>Master:</strong>
                                    <a href="{% url "context_view" context_id=item.master_context.id %}">
                                        {{item.master_context.name}}
                                    </a>
                                </td>
                                <td class="operations">
                                    <a href="#"
                                        class="btn btn-xs btn-default">
                                        <img src="{% static "base/img/brick_add.png" %}">
                                         Clone
                                    </a>
                                    <a href="{% url "cluster_delete" cluster_id=item.id %}"
                                        class="btn btn-xs btn-danger">
                                        <img src="{% static "base/img/brick_delete.png" %}">
                                    </a>
                                </td>
                            </tr>
                            <tr>
                                <td class="context">
                                    <strong>Worker:</strong>
                                    <a href="{% url "context_view" context_id=item.worker_context.id %}">
                                        {{item.worker_context.name}}
                                    </a>
                                </td>
                                <td class="operations">
                                    <a href="#" data-rm-remote="{% url "cluster_deploy" cluster_id=item.id %}"
                                        class="btn btn-xs btn-info" data-toggle="remote-modal"
                                        data-rm-title="Deploy cluster">
                                        <img src="{% static "base/img/vm_contextualize.png" %}">
                                         Deploy cluster
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5" align="center">No cluster definition created yet</tr>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <td colspan="5">
                                <a href="{% url "cluster_new" %}"
                                    class="btn btn-sm btn-success">
                                    <img src="{% static "base/img/brick_add.png" %}">
                                     Create new cluster
                                </a>
                        </tr>
                    </tfoot>
                </table>

                <h2>Your virtual machines</h2>
                <table class="table table-hover table-striped" id="vms">
                    <thead>
                        <tr>
                            <th class="icon">&nbsp;</th>
                            <th class="ip">Machine</th>
                            <th class="cvm_version">CernVM</th>
                            <th class="context">Context</th>
                            <th class="operations">Operations</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for item in machine_list %}
                            <tr>
                                <td class="icon">
                                    {% if item.status == "C" %}
                                        <img alt="VM Cloud" data-toggle="tooltip"
                                            data-placement="top"
                                            title="Instance contextualized on the cloud"
                                            src="{% static "base/img/vm_contextualize.png" %}">
                                    {% elif item.status == "E" %}
                                        <img alt="Cluster master node"
                                            data-toggle="tooltip"
                                            data-placement="top"
                                            title="Elastiq cluster master node"
                                            src="{% static "base/img/vm_cloud.png" %}">
                                    {% elif item.status == "P" %}
                                        <img alt="VM" data-toggle="tooltip"
                                            data-placement="top"
                                            title="Instance contextualized via pairing"
                                            src="{% static "base/img/vm_user.png" %}">
                                    {% else %}
                                        <img alt="VM" src="{% static "base/img/vm.png" %}">
                                    {% endif %}
                                </td>
                                <td class="ip">{{item.ip}} <small>({{item.uuid}})</small></td>
                                <td class="cvm_cersion">{{item.version}}</td>
                                <td class="context">{{item.context.name}}</td>
                                <td  class="operations">
                                    <a href="{% url "vm_delete" machine_uuid=item.uuid %}"
                                        class="btn btn-xs btn-danger">
                                        <img src="{% static "base/img/vm_remove.png" %}">
                                         Unmanage
                                    </a>
                                </td>
                            </tr>
                        {% empty %}
                            <tr>
                                <td colspan="5" align="center">No instances paired yet</tr>
                            </tr>
                        {% endfor %}
                    </tbody>
                    <tfoot>
                        <td colspan="5">
                            <a href="{% url "vm_pair_begin" %}"
                                class="btn btn-sm btn-success">
                                <img src="{% static "base/img/vm_contextualize.png" %}">
                                 Pair an instance of CernVM
                            </a>
                        </tr>
                    </tfoot>
                </table>
            </div>
        </div>
    </div>
{% endblock %}

{% block styles %}
    <link type="text/css" rel="stylesheet" media="all" href="{% static "dashboard/css/dashboard.css" %}">
{% endblock %}
{% block scripts %}
    <script type="text/javascript" src="{% static "cluster/js/libs/handlebars-1.3.0.js" %}"></script>
    <script type="text/javascript"
        src="http://cernvm.cern.ch/releases/webapi/js/cvmwebapi-latest.js">
    </script>
    <script type="text/javascript" src="{% static "dashboard/js/dashboard.js" %}"></script>
    <script type="text/javascript" src="{% static "base/js/jquery.remote-modal.js" %}"></script>
{% endblock %}
